@{
    ViewBag.Title = "Home Page";
}

<h2>Home Page</h2>

<a href="@Url.Action("SetCookie")">Set Cookie</a>
<br />
<a href="@Url.Action("GetCookie")">Get Cookie</a>
<br />
<a href="@Url.Action("DeleteCookie")">Delete Cookie</a>
